@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{margin: 0; padding: 0;}
body{
    font-family: 'Poppins', sans-serif;
    color:white;
    background: linear-gradient(#25273ce0,#25273ceb,#25273c),url('https://picsum.photos/200/300');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    width:100%;
    height:100vh;
    overflow: hidden;
}
/* .container{
    width:100%;
    height:100%;
    /* box-shadow:0px 0px 10px 0px red; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.todo-app-wrapper{
    width:400px;
    height: 600px;
    background:#25273c;
    box-shadow: 0px 0px 91px 0px #00000061;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    box-sizing:border-box;
    padding:30px;
}

.todo-app-heading{
    display: grid;
    grid-template-columns: 1fr 35px;
}
.todo-text{
    font-size:25px;
}
.lightmode{
    cursor: pointer;
}
.todo-app-image{
    display:grid;
    justify-content: center;
    margin-bottom:10px;
}
.todo-app-image img {
    width: 212px;
    height: 227px;
    object-fit: contain;
}

.todo-app-input-wrapper{
    display:grid;
    grid-template-columns: 1fr 40px;
    margin-bottom:20px;
}
.todo-input-box{
    padding:10px;
    border:none;
    outline:none;
    color:#797980;
    margin-right:10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo-add-button{
    background:#ffc932;
    border:none;
    outline:none;
    border-radius:100%;
    width:40px;
    height:40px;
    cursor: pointer;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.todo-add-button:hover{
    background:white;
}
.todo-add-button:active{
    transform: scale(0.70);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
    -ms-transform: scale(0.70);
    -o-transform: scale(0.70);
}

.todo-list-container{
    overflow-y: scroll;
    height: 214px;

}
.todo-list-container::-webkit-scrollbar{
    width:5px;
}
.todo-list-container::-webkit-scrollbar-thumb{
    background:#ffc932;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.todo-list-container::-webkit-scrollbar-track{
    display:none;
}
.todo-list-container > ul > li{
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 30px 30px;
    margin-top:8px;
    background:#00000017;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding:10px;
    font-size:14px;
    position:relative;
}
.todo-list-container > ul{
    display:flex;
    flex-direction:column-reverse;
}
.editBtn{
    color:white;
    cursor: pointer;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    z-index: 5;
}
.editBtn:hover{
    color:#42A7CD;
}
.editBtn:active{
    transform: scale(0.70);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
    -ms-transform: scale(0.70);
    -o-transform: scale(0.70);
}

.delbtn{
    color:white;
    cursor: pointer;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    z-index: 5;
}
.delbtn:hover{
    color:red;
}
.delbtn:active{
    transform: scale(0.70);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
    -ms-transform: scale(0.70);
    -o-transform: scale(0.70);
}
.footertext{
    font-size:13px;
    top: 20px;
    position: relative;
    display: flex;
    justify-content: center;

}
.websitelink{
    color: black;
    background: #ffc932;
    padding: 4px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.todotext{
    width:263px;
    height:auto;
    overflow-X:hidden;
}

/* .todotext::-webkit-scrollbar{
    width:5px;
}
.todotext::-webkit-scrollbar-thumb{
   background:yellow;
} */

/* activeclasses*/
.lightModeText{
    color:black;
}
.lightModeBackground{
    background:white;
}
.lightModeinput{
    background:white;
    box-shadow:  5px 5px 15px #cacaca,
    -5px -5px 15px #f6f6f6;
}
.lightmodeaddbutton{
    box-shadow:  20px 20px 60px #bebebe,
}

.lightmodetodolist{
    background:#F6F6F6;

}

.lightmodeEditDelBtn{
    color:black !important;
}

.completedtask{
    text-decoration:line-through;
    color:#9e9e9e59;
}